body,html {
    margin: 0%;
    font: bold 14px/1.4 'Open Sans', arial, sans-serif;
    background: #000;
    height: auto;
}
h1{
    color: #98f5ff;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    /* margin: 5%; */
}
h2{
    color:#c1102b;
    text-transform: capitalize;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    text-align: center;
}
p{
    /* margin: 2%; */
    color: white;
    font-size: x-large;
    text-align: center;
    letter-spacing: 0.15em;
}
 ul {  
    margin: 50px auto 0; 
    padding: 0; 
    list-style: none; 
    display: table;
    width: 600px;
    text-align: center;
}
 li {  
    display:table-cell; 
    position: relative; 
    padding: 15px 0;
}
a {
    color: black;
    text-transform: uppercase;
    text-decoration:none;
    letter-spacing: 0.15em;
    display:inline-block;
    padding: 15px 20px;
    position: relative;
    text-shadow: 0 0 #000, 0 1.2em rgb(248, 246, 246);
    overflow: hidden;
    
}
 a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
   
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}
a:hover:after { 
    width: 100%; 
    left: 0; 
    

}
a:hover{
    color:#7fffd4;
    text-shadow: 0 -1.2em #000 , 0 0 #c1102b ;


}
@media screen and (max-height: 300px) {
    ul {
      margin-top: 40px;
    }
} 


img{
    display: block;
    size: 2px;
    
}